<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>002--GLKit三角形变换.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D69FF1041FF61CD9000E0939</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D69FF11D1FF61CD9000E0939</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D69FF1281FF61CD9000E0939</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
